@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Courier New', Courier, monospace;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.brand img{
    width: 44px;
    padding: 0px 8px;
}
.container{
    min-height: 70vh;
    width: 80%;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin: 12px auto;
    padding: 34px;
    border-radius:12px;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    flex-direction:column;
}
.icons{
    margin-top: 14px;
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
}
.songItemContainer{
    margin-top: 74px;
}
.songItem{
    height: 50px;
    border-radius: 34px;
    margin: 12px 0;
    width: 30%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.songItem img{
width: 43px;
margin: 0 23px;
border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}